@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem;
    font-family: 'Lobster', sans-serif;
    margin: 0;
}
h1,h2,h3,p,ul,ol,figure{
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    box-sizing: border-box;
}
button{
    border: 0;
    background-color: #ccc;
    font-size: 1.6rem;
}
header{
    margin-bottom: 4rem;
}
header h1{
    background-color: #1C5882;
    color: #fff;
    text-align: center;
    font-weight: 200;
    line-height: 6.0rem;
}
body{
    background-color: rgba(52, 152, 219,0.1);
    font-size: 2rem;
}
h2{
    text-align: center;
    color: #1C5882;
    margin-bottom: 4.0rem;
}
section{
    max-width: 80rem;
    padding: 1.0rem;
    border: solid 0.1rem transparent;
    background-color: inherit;
    margin: 0 auto 1rem;
}
section p{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}
.form{
    max-width: 80rem;
    position: relative;
    margin: 0 auto;
}
.form fieldset{
    padding: 1.0rem;
    border-radius: .4rem;
    border: solid .1rem;
    color: #1C5882;
    background-color: #fafafa;
}
.form fieldset legend{
    padding: .5rem;
    font-size: 2rem;
    color: #1C5882;
    font-size: 3rem;
}
.form label, legend{
    font-family: sans-serif;
}
.form label{
    color: initial;
    font-weight: bold;
}
.form input, .form label{
    display: block;
    width: 100%;
    line-height: 4rem;
}
.form input{
    padding: .5rem;
}
.form input[placeholder], input[type="submit"]{
    font-size: inherit;
}
.form input[type="submit"]{
    margin-top: 1.0rem;
    padding: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    color: #fff;
    background-color: #1C5882;
}
.warning, .success{
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
}
.success{
    background-color: rgb(20, 200, 20);
}
.warning{
    background-color: rgb(200, 20, 20);
}
footer{
    font-family: sans-serif;
    margin-top: 1rem;
}
footer p{
    text-align: center;
}